@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

@font-face {
  font-family: 'Aspekta';
  src: url('/fonts/aspekta/Aspekta-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aspekta';
  src: url('/fonts/aspekta/Aspekta-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aspekta';
  src: url('/fonts/aspekta/Aspekta-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Aspekta', sans-serif;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.swiper-pagination-bullet {
  background-color: grey !important; /* or gray */
  opacity: 1;
}

/* Ensure Swiper's default bottom positioning is overridden */
.swiper-pagination {
  bottom: unset !important;
  bottom: 10% !important;
  display: flex; 
  justify-content: center; 
  align-items: center;
 }

/* Optional: Style individual pagination dots if desired */
.swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.4); /* Darker inactive dots */
  opacity: 1; /* Ensure they are visible */
}

.swiper-pagination-bullet-active {
  background: #333; /* Darker active dot */
}
 .home-slider {
  padding-left: 135px !important;
}

.home-slider .swiper-slide{
  width: 657.143px !important;
}

@media screen and (max-width:1280px) {
  
.home-slider {
  padding-left: 75px !important;
}
.home-slider .swiper-slide{
  width: 457.143px !important;
}

}

@media screen and (max-width:767px) {
  
.home-slider {
  padding-left: 25px !important;
}

}